.creator-content{
	margin: 5%;
	border-radius: 20px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	font-family: 'QuickSand', sans-serif;
	text-align: center;
	background-color: antiquewhite;
}

.creator-content img{
	border-radius: 100%;
	border: 2px solid rgba(112, 99, 125, 0.647);
	box-shadow: 10px 10px 10px 2px rgba(90, 94, 116, 0.712);
	filter: contrast(1.2) brightness(1.1);
	width: 175px;
}

h1{
	font-size: 40px;
	/* font-weight: bold; */
	padding: 10px 0px;
}

.content{
	font-size: 20px;
	text-align: justify;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.content p{
	font-size: 20px;
	/* text-justify: newspaper; */
}

ul{
	display: flex;
	flex-direction: column;
	align-self: center;
	width: 10%;
}
ul li{
	text-align: left;
}