.sort{
	padding: 20px;
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
	font-family: 'QuickSand', sans-serif;
}
.sort-option{
	padding: 10px;
	margin: 20px 0;
	font-size: 20px;
	font-family: 'QuickSand', sans-serif;
	border-radius: 2px;
	font-weight: bold;
	border: 2px solid black;
	text-align: center;
}

.sort-option option{
	font-weight: bold;

}